.pra {
    background-color: aquamarine;
    font-family: 'Nabla', cursive;
    text-align: center;
    width: 20%;
    padding: 1em;


}

.pra2 {
    color: rgb(8, 10, 11);
    background-color: rgb(115, 133, 0);
    font-family: serif;
    text-align: center;
    width: 50%;
    padding: 1em;

}

.pra3 {

    background-color: rgb(222, 255, 5);
    font-family: 'Bungee Spice', cursive;
    text-align: center;
    width: 100%;
    padding: 1em;


}