div {
    text-align: center;
}
#hw {
    background-color: aliceblue;
    border: solid 3px black;
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;
}
p{
    justify-content: center;
    text-align: center;
    margin: auto;
    justify-items: center;
}