@media screen and (max-width:1000px) {
    body {
        background-color: bisque;


    }

}

@media screen and (max-width:800px) {
    body {
        background-color: aqua;


    }

}

@media screen and (max-width:650px) {
    body {
        background-color: rgb(2, 3, 3);


    }

}

@media screen and (max-width:500px) {
    body {
        background-color: rgb(2, 255, 53);


    }

}
@media screen and (max-width:300px) {
    body {
        background-color: rgb(255, 100, 100);


    }

}

.tab1 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; 
    justify-content: center;  
     
}



.ulala {
    background-color: aliceblue;
    width:170px;
    height:170px;
    margin: 15px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.karate {
    border: 2px solid wheat;
    width: 150px;
    height: 150px;

}