body{
  background-color: rgb(215, 188, 151);
}
.darkmood{
  background-color: rgb(45, 44, 44);
  color: white;
}
.order{
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-family: Lucida, Bright;
}
#pic {

  background-image: url(https://t4.ftcdn.net/jpg/01/32/61/93/360_F_132619387_pOcjcRMZ49pus3YR4SDKN7zNsiTmJOVy.jpg);
  width: 450px;
  height: 350px;
  margin: auto;
}
.navbackc{
  background-color:  rgb(143, 127, 105) !important ;
}

/* for the log-in page */
form {
  text-align: center;
}

.login {
  margin: auto;
  border: 5px solid rgb(143, 127, 105);
  border-radius: 10px;
  width: 420px;
}

.container {
  text-align: center;

}

#h_one {
  text-align: center;
  font-family: Lucida, Bright;

}
#btnLI {
  height: 34px;
  border-radius: 10px;
  background-color:  rgb(143, 127, 105) 
}

/* for the footer */
footer {
  background-color: rgb(143, 127, 105);
  /* color: #fff; */
  /* padding: 20px 0; */
  color: rgb(0, 0, 0);

}

.footer-container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-container p {
  margin: 10px 0;
  text-align: center;
}

.footer-container ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  list-style: none;
}

.footer-container a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footer-container i {
  margin-left: 5px;
}

