.bigbox {

    text-align: center;
    width: 180px;
    height: 100px;
    background-color: rgb(246, 3, 3);
    border: solid 3px rgb(8, 255, 8);
    padding: auto;
    margin: auto;
    justify-content: center;

}

.bigbox2 {

    text-align: center;
    width: 180px;
    height: 100px;
    background-color: rgb(2, 249, 68);
    border: solid 3px rgb(249, 0, 0);
    padding: auto;
    margin: auto;
    animation: rotate 1s ease-in-out infinite alternate;
    justify-content: center;

}
.bigbox2:hover {
    text-align: center;
    width: 180px;
    height: 100px;
    background-color: rgb(8, 8, 8);
    border: solid 3px rgb(9, 255, 0);
    padding: auto;
    margin: auto;
    animation: rotate 2s ease-in-out infinite alternate;
    justify-content: center;

}

.bigbox3 {

    text-align: center;
    width: 180px;
    height: 100px;
    background-color: rgb(74, 3, 255);
    border: solid 3px rgb(5, 247, 255);
    padding: auto;
    margin: auto;
    animation: color-box 2s ease-in-out infinite alternate;
    justify-content: center;

}
.bigbox3:hover {

    text-align: center;
    width: 180px;
    height: 100px;
    background-color: rgb(74, 3, 255);
    border: solid 6px rgb(153, 0, 255);
    padding: auto;
    margin: auto;
    animation: color-box 2s ease-in-out infinite alternate;
    justify-content: center;

}

.bigbox4 {

    text-align: center;
    width: 180px;
    height: 100px;
    background-color: rgb(0, 255, 179);
    border: solid 3px rgb(76, 0, 255);
    padding: auto;
    margin: auto;
    animation: skew 2s linear infinite alternate;
    justify-content: center;

}
.bigbox4:hover {

    text-align: center;
    width: 180px;
    height: 100px;
    background-color: rgb(0, 85, 255);
    border: solid 3px rgb(0, 255, 247);
    padding: auto;
    margin: auto;
    animation: skew 2s linear infinite alternate;
    justify-content: center;

}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes skew {
    0% {
        transform: skewY(0deg);
    }

    100% {
        transform: skewY(360deg);
    }
}


@keyframes color-box {
    0% {
        background-color: rgb(174, 255, 0);
    }

    10% {
        background-color: rgb(209, 209, 209);
    }

    20% {
        background-color: rgb(0, 255, 255);
    }

    30% {
        background-color: rgb(244, 221, 163);
    }

    40% {
        background-color: rgb(111, 111, 255);
    }

    50% {
        background-color: rgb(255, 0, 51);
    }

    60% {
        background-color: rgb(82, 110, 0);
    }

    70% {
        background-color: rgb(249, 185, 23);
    }

    80% {
        background-color: rgb(255, 5, 180);
    }

    90% {
        background-color: crimson;
    }

    100% {
        background-color: darkgoldenrod;
    }
}